/* LOGIN PAGE */
.wrap{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	width: 40%;
	background: #585858;
	margin: 0 auto;
	margin-top: 2.5%;
	border: 3px solid #504C4C;
	box-shadow: 0 1px 5px #202020;
	h2{
		margin-bottom: 2%;
	}
}
.button{
	text-align: center;
	background: #292727;
	display: inline-block;
	margin-top: 5%;
	border: 1px solid black;
	letter-spacing: 1px;

	&:hover{
		background: #0a056a;
	}
}
.tweet{
	width: 30%;
	padding: 2% 8%;
	margin-right: 1em;
	color: $twitter;
}
.vote{
	width: 30%;
	padding: 2% 0%;
	color: $like;
}
/* USER PAGE */
.title{
	text-align: center;
	font-size: 4em;
}
#data{
	height: 30%;
	margin-bottom: 10%;
	p{
		float: left;
		width: 20%;
		margin-right: 4%;
		margin-bottom: 4%;
		height: 49%;
		border: 1px solid #000000;
	}
}
#tweets{
	width: 93%;
	li{
		line-height: 1.25em;
		border: 1px solid #DBDBDB; 
		padding: 2%;
		background-color: #eaeaea;
		color: #000000;
	}
	img{
		float:left;
		margin-right: 5px;
	}
	.twitterFeed{
		background: #585858;
		border-radius: 5px 5px 0px 0px;
		line-height: 2em;
		font-size: 1.5 em;
		padding: 2%;
	}
	h4{
		display: inline-block;
	}
	h5{
		font-weight: 300;
		display: inline-block;
	}
}
